*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#phone{
    display: flex;
    height: 100vh;
    margin-left: 0rem;
}
html {
    background-color:white ;
    background-repeat: no-repeat;
    height: 100%;
}
.homepage{
    display: block;
}
.title{
    width: 200px;
    height: 90px;
    display: flex;
    margin-left: 130px;
    margin-top: 10px;
}
.title h1{
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 76px;
    letter-spacing: -0.010em;
    color: #000000;
    width: 300px;
    display: inline-block;
    margin-left: -47px;
    overflow: hidden;
}
.main{
    background: white;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-left: 20px;
    border-radius:50%;
    display:inline-block;
    height: 100px;
    width: 100px;
    border: solid 1px;
}
#picture{
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-top: -30px;
    border-radius:50%;
    display:inline-block;
    height: 100px;
    width: 100px;
    border: solid 1px;
}
.rates{
    display: flex;
}
.rate{
    font-family: 'Aksara Bali Galang';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 68px;
    display: inline-block;
    align-items: center;
    margin-left: 30px;
    margin-top: -20px;
    color: #000000;
}
.MAINPOSTS{
    display: flex;
}
.names{
    display: flex;
}
.ratename{
    font-family: 'Aksara Bali Galang';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 68px;
    align-items: center;
    margin-left: 140px;
    margin-top: -85px;
    color: #000000;
}
.ratename2{
    font-family: 'Aksara Bali Galang';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 68px;
    align-items: center;
    margin-left: 10px;
    margin-top: -85px;
    color: #000000;
}
.ratename3{
    font-family: 'Aksara Bali Galang';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 68px;
    align-items: center;
    margin-left: 10px;
    margin-top: -85px;
    color: #000000;
}
.name{
    font-family: 'Aksara Bali Galang';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 68px;
    margin-left: 20px;
    margin-bottom: -20px;
    color: #000000;
}
.details{
    width: 340px;
    margin-left: 20px;
    margin-bottom: -20px;
}
.detalles{
    font-family: 'Aksara Bali Galang';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 65px;
    color: #000000;
    margin-bottom: -20px;
}
.line1{
    margin-top: 20px;
    display: inline-block;
    width: 360px;
    height: 19rem;
    border: solid 2px black;
}
.foto{
    display: inline-block;
    width: 7rem;
    height: 6rem;
    margin-left: 4px;
}
.home{
    display:inline-block;
    margin-left: 35px;
    width: 40px;
    height: 40px;
    margin-top: 14px;
}
.edit{
    display:inline-block;
    margin-left: 80px;
    width: 40px;
    height: 40px;
    margin-top: 14px;
}
.addpost{
    display: inline-block;
    margin-left: 81px;
    width: 40px;
    height: 40px;
    margin-top: 14px;
}